<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>List of Kitties</h1>
        <a href='/kitties/new' class='btn btn-primary'>Add a kittie</a>
        <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <% for (let i in kittie_info) { %>
                <tbody>
                  <tr>
                    <td><a href="/kitties/<%= kittie_info[i]._id %>"><%= kittie_info[i].name %></a></td>
                    <td><%= kittie_info[i].age %></td>
                    <td><a href="/kitties/edit/<%= kittie_info[i]._id %>" class="btn btn-warning">Edit</a> <a href="/kitties/destroy/<%= kittie_info[i]._id %>" class="btn btn-danger">Delete</a></td>
                  </tr>
                </tbody>
                <% } %>
        </table>
    </div>
</body>
</html>